.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.todo-app {
  width:300px;
  height:400px;
  background-color: bisque;
  display: flex;
  flex-direction: column;
}
.header {
  height: 30px;
  width:100%;
  background-color: aliceblue;
  color:black;
}
.todos-body{
  height:100%;
  width:100%;
  background-color: darkgray;
  overflow: scroll;
}
.todo-body{
  width:100%;
  display: flex;
  flex-direction: row;
}
.todo{
  margin: 5px;
  width:100%;
  background-color: lightsteelblue;
}